@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,500&display=swap');
:root {
    --blue-1: #0093dd; /* Button */
    --blue-2: #48c9ff; /* Link */
    --black-1: #343434; /* Footer Backgorund*/
    --white-1: #f2f2f2;
    --border-1: 1px solid #e2e5e7;
} 
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    overflow: hidden;
}
h1 {
    font-weight: 300;
}
a {
    text-decoration: none;
    color: var(--blue-1);
}
#wrapper {
    display: flex;
}
#left {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right {
    flex: 1;
}
@media (max-width: 800px) {
    #right {
        display: none;
    }
}
@media (min-width: 1100px) {
    #left {
        flex: 4;
    }
    #right {
        flex: 6;
    }
}
/*
    SIGN IN
------------------------*/
#signin {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 1rem;
    background: var(--white-1);
    border: var(--border-1);
    border-radius: 5px;
    background: white;
    margin-bottom: 1rem;
}
#signin form {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#signin form > * {
    border: var(--border-1);
    background: var(--white-1);
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
}
/*
    BUTTONS
--------------------*/
#signin .primary-btn {
    border: 2px solid var(--blue-1);
    background: var(--blue-1);
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}
#signin .primary-btn:hover {
    /* background: white; */
    /* color: var(--blue-1); */
    background: #007cb9;
    border-color: #007cb9;
}
#signin .secondary-btn {
    border: 2px solid var(--blue-1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
#signin .secondary-btn:hover {
    color: white;
    background: var(--blue-1);
}
#signin .or {
    width: 60%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}
#signin .or span {
    margin-left: 5px;
    margin-right: 5px;
}
#signin .or hr {
    flex: auto;
}
#left footer {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5rem;
}
/*
    RIGHT SHOWCASE
---------------------*/
#showcase {
    height: 100vh;
    background: var(--black-1);
    background-image: url(./img/right-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#showcase .showcase-content {
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 1rem;
    color: white;
    text-align: center;
}
#showcase .showcase-content h1 {
    font-size: 2.5rem;
}
#showcase a {
    color: var(--blue-2);
}
